[submodule "OpenSSL-for-iPhone"]
	path = OpenSSL-for-iPhone
	url = git://github.com/locationlabs/OpenSSL-for-iPhone.git
[submodule "spdylay"]
	path = spdylay
	url = git://github.com/locationlabs/spdylay.git
