[submodule "OpenSSL-for-iPhone"]
	path = OpenSSL-for-iPhone
	url = https://github.com/locationlabs/OpenSSL-for-iPhone.git 
[submodule "spdylay"]
	path = spdylay
	url = https://github.com/locationlabs/spdylay.git 
